$IUNeon: #e4e724;
$IUViolet: #ccb6e1;
$IULightViolet: #eeeeff;
$IUDeepViolet: #784e8d;
$OverGray: #ffffffa3;

// Theme Color
$IU-White: #fafafa;
$IU-Black: #0d0d0d;
$IU-Transparent: #00000000;

$IU-LightViolet: #b796c8;
$IU-DeepViolet: #784e8d;
$IU-BlueViolet: #4a4e8c;

$IU-Neon: #e4e724;

// Theme Color Alpha
$IU-Black-A20: rgba(13, 13, 13, 0.2);
$IU-Neon-A90: rgba(228, 231, 36, 0.9);

// Title Color
$IU-Title-Violte: rgba(173, 170, 191, 0.75);
$IU-Title-Black: rgba(13, 13, 13, 0.75);

// Dialog Color
$IU-Dialog-Black: rgba(0, 0, 0, 0.5);
