@import './_variables';
@import url('https://fonts.googleapis.com/css?family=Hi+Melody:400');

.hi-melody * {
  font-family: 'Hi Melody', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.iu-page {
  min-height: 420px;
  padding: 40px 15px 50px;
}

.flex-box {
  display: flex;

  &.center-contents {
    justify-content: center;
    align-items: center;
  }
}

.grid-view {
  display: grid;
  // TODO CHECK :: 1080px under
  // grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-template-columns: repeat(auto-fit, 330px);

  grid-gap: 30px;
}
@media (max-width: 1860px) {
  .grid-view {
    grid-template-columns: repeat(auto-fit, 330px);
  }
}
@media (max-width: 1080px) {
  .grid-view {
    grid-template-columns: repeat(auto-fit, 475px);
  }
}

body::-webkit-scrollbar,
div::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5rem;
}

body::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  background-color: $IULightViolet;
}

body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
  background-color: $IUViolet;
  border-radius: 40px;
}

// swtich
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $IUViolet;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: $IU-DeepViolet;
}

input:focus + .slider {
  box-shadow: 0 0 1px $IU-DeepViolet;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}
